  <section class="message-new">
    <div class="container">
      <h2 class="mt-5 mb-3">メッセージ</h2>
        <%= form_for @message, :url => {:action => :create} do |f| %>
        <%= f.text_field :content %>
        <br>
        <%= f.submit '送信', class: "submit-btn mt-5"%>
        <% end %>
        <%# <%= link_to "募集詳細へ戻る", user_path(@current_user), class:"mt-3" %>
    </div>
  </section>