<section class="login">
  <div class="container">
    <h2 class="mt-5">ログイン</h2>
    <%= form_tag("/login") do %>
      <div class="field">
        <label class="text-center">メールアドレス</label><br>
				<input type="text" class="form" name="email">
      </div>

      <div class="field">
        <label class="text-center">パスワード</label><br>
				<input type="password" class="form" name="password">
      </div>

      <div class="actions">
				<input type="submit" value="ログイン" class="submit-btn">
      </div>
    <% end %>

  </div>
</section>
