<%= form_tag("/login") do %>
	<div class="form-container">
	<p>ユーザー名</p>
    <input type="text" class="form" name="name">
	<p>パスワード</p>
    <input type="password" class="form" name="password">
		<input type="submit" value="ログイン" class="form-btn btn btn-primary">
	</div>
<% end %>